<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbb.mapper.LeavesMapper">
    <!-- 通用查询映射结果 -->
    <resultMap type="com.xbb.entity.Leaves" id="BaseResultMap">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="creat_time" property="creatTime"/>
        <result column="reply_con" property="replyCon"/>
        <result column="reply_time" property="replyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">id, user_id, content, creat_time, reply_con, reply_time</sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from leaves
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from leaves
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.xbb.entity.Leaves">
        insert into leaves (id, user_id, content, creat_time, reply_con, reply_time)
        values (#{id}, #{userId}, #{content}, #{creatTime}, #{replyCon}, #{replyTime})
    </insert>
    <insert id="insertSelective" parameterType="com.xbb.entity.Leaves">
        insert into leaves
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="content != null">content,</if>
            <if test="creatTime != null">creat_time,</if>
            <if test="replyCon != null">reply_con,</if>
            <if test="replyTime != null">reply_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="creatTime != null">#{creatTime},</if>
            <if test="replyCon != null">#{replyCon},</if>
            <if test="replyTime != null">#{replyTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xbb.entity.Leaves">
        update leaves
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
            <if test="replyCon != null">reply_con = #{replyCon},</if>
            <if test="replyTime != null">reply_time = #{replyTime},</if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xbb.entity.Leaves">
        update leaves
        set id = #{id}, user_id = #{userId}, content = #{content}, creat_time = #{creatTime}, reply_con = #{replyCon}, reply_time = #{replyTime}
        where id = #{id}
    </update>

    
    <resultMap id="ResultMap" extends="BaseResultMap" type="com.xbb.entity.Leaves">
        <association javaType="com.xbb.entity.User" property="user">
            <result column="t2_name" property="name" />
            <result column="t2_cellphone" property="cellphone" />
            <result column="t2_avatar" property="avatar" />
        </association>
    </resultMap>

    <select id="selectListByPaging" resultMap="ResultMap">
       select
       t1.*,
       t2.name as t2_name, t2.cellphone as t2_cellphone, t2.avatar as t2_avatar
       from leaves t1
       left join user t2 on t1.user_id = t2.id
       <where>
         <if test="userId != null">
             and t1.user_id = #{userId}
         </if>
         <if test="content != null and content != ''">
             and t1.content like concat('%', #{content}, '%')
         </if>
         <if test="replyCon != null and replyCon != ''">
             and t1.reply_con like concat('%', #{replyCon}, '%')
         </if>
       </where>
       order by t1.id desc
       limit #{page}, #{limit}
    </select>

    <select id="selectCountByPaging" resultType="java.lang.Integer">
       select count(*)
       from leaves t1
       <where>
         <if test="userId != null">
             and t1.user_id = #{userId}
         </if>
         <if test="content != null and content != ''">
             and t1.content like concat('%', #{content}, '%')
         </if>
         <if test="replyCon != null and replyCon != ''">
             and t1.reply_con like concat('%', #{replyCon}, '%')
         </if>
       </where>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from leaves
        order by id desc
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.xbb.entity.Leaves">
        select
        <include refid="Base_Column_List" />
        from leaves
        <where>
          <if test="userId != null">
              and user_id = #{userId}
          </if>
          <if test="content != null and content != ''">
              and content like concat('%', #{content}, '%')
          </if>
          <if test="replyCon != null and replyCon != ''">
              and reply_con like concat('%', #{replyCon}, '%')
          </if>
        </where>
        order by id desc
    </select>

    <select id="selectListByLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from leaves
        order by ${field} ${sort}
        limit #{limit}
    </select>

    <select id="selectListByField" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from leaves
        where ${field} = ${value}
        order by id desc
    </select>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="com.xbb.entity.Leaves">
        select
        <include refid="Base_Column_List" />
        from leaves
        <where>
          <if test="userId != null">
              and user_id = #{userId}
          </if>
          <if test="content != null and content != ''">
              and content like concat('%', #{content}, '%')
          </if>
          <if test="replyCon != null and replyCon != ''">
              and reply_con like concat('%', #{replyCon}, '%')
          </if>
        </where>
    </select>

    <select id="selectOneByDetails" parameterType="java.lang.Integer" resultMap="ResultMap">
        select
        t1.*,
        t2.name as t2_name, t2.cellphone as t2_cellphone, t2.avatar as t2_avatar
        from leaves t1
        left join user t2 on t1.user_id = t2.id
        where t1.id = #{id}
    </select>

    <select id="selectAllCount" resultType="java.lang.Integer">
        select count(*) from leaves
    </select>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.xbb.entity.Leaves">
        select count(*)
        from leaves
        <where>
          <if test="userId != null">
              and user_id = #{userId}
          </if>
          <if test="content != null and content != ''">
              and content like concat('%', #{content}, '%')
          </if>
          <if test="replyCon != null and replyCon != ''">
              and reply_con like concat('%', #{replyCon}, '%')
          </if>
        </where>
    </select>

    <update id="updateAll">
        update leaves
        <if test="userId != null">
        set user_id = #{userId}
        </if>
        <if test="content != null">
        set content = #{content}
        </if>
        <if test="replyCon != null">
        set reply_con = #{replyCon}
        </if>
    </update>
</mapper>
